<!DOCTYPE html>
    <html>
    <head>
        <title>Online Exam</title>
        <style>
            body {
                font-family: Arial, sans-serif;
                background-color: #f0f0f0;
                margin: 0;
                padding: 0;
            }
          
            .container {
                background-color: #fff;
                width: 500px;
                margin: 100px auto;
                padding: 10px;
                border-radius: 5px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            }
    
            h2 {
                color: #333;
                padding: 0px;
            }
    
            label {
                display: block;
                font-weight: bold;
                margin-bottom: 5px;
                color: #555;
            }
    
    
         input[type="email"]{
            width: 90%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 3px;
            font-size: 16px;
         }
         input[type="submit"] {
                background-color: #333;
                color: #fff;
                padding: 10px 20px;
                border: none;
                border-radius: 3px;
                cursor: pointer;
                font-size: 18px;
            }
    
            input[type="submit"]:hover {
                background-color: #555;
            }
            p{
                color:red;
                display: none;
            }
        </style>
    </head>
    <body>
         <div class="container">
        <h2>Reset your password</h2>
        <p id="showError">User with given email doesn't exist</p>
        <form action="/api/password-reset" method="post">
        <label>Enter Email: </label>
        <input type="email" name="email" required>
        <input type="submit" value="Submit"></input>
        </form>
       </div>
       <script>
           if({{status}})
           {
            document.getElementById("showError").style.display="inline";
           }
       </script>
    </body>
    </html>